<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <button id="btn">aperte</button>
    <div id="div1" style="display:none">
        botao apertado
    </div>
</body>
</html>

<script lang="javascript">

    var urlCandidato = '@Url.Action("Index", "Candidato")';

    $("#b1").click(function () {
        var x = $("#busca").val();

        $.ajax({
            url: urlCandidato,
            type: 'POST',
            data: { busca: x },
            sucess: function (response) {
                alert(response);
                $("#resultado").html(response.data);
            },
            error: function () {
                alert("error");
            }
        })
    });

    $(document).ready(function () {
        $('#btn').click(function () {
            $('#div1').toggle();
        })
    })



</script>